body {
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.cabecalho {
  padding: 50px;
}

form {
  width: 300px;
  padding: 100px;
  margin-left: 30%;
  margin-top: 0%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Registro{
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:black;
margin-top: -16%;
margin-left: 34%;
}



/*--------NOME--COMPLETO--------*/
.nomeContainer{
padding: 1px;
margin-top: 0%;
margin-left: -23%;
}
.nome {
  display: block;
  margin-bottom: 8px;
}
.nomeCompleto {
  width: 120%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/*--------EMAIL--------*/

.emailContainer{

padding: 1px;
margin-top: 0%;
margin-left: -23%;
}
.email {
  display: block;
  margin-bottom: 8px;
}
.emailCompleto {
  width: 120%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/*--------RG--------*/
.RGContainer{
  padding: 1px;
  margin-top: 0%;
  margin-left: -23%;
}
.RG {
  display: block;
  margin-bottom: 8px;
}
.RGCompleto {
  width: 56%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
  }

/*--------CPF--------*/
.CPFContainer{   
  padding: 1px;
  margin-top: -25%;
  margin-left: 55%;
}
.CPF {
  display: block;
  margin-bottom: 8px;
}
.CPFCompleto {
  width: 155%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/*--------Celular--------*/
.celularContainer{
  padding: 1px;
  margin-top: 0%;
  margin-left: -23%;
}
.celular {
  display: block;
  margin-bottom: 8px;
}
.celularCompleto {
  width: 56%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/*--------Telefone--------*/

.telefoneContainer{   
padding: 1px;
margin-top: -25%;
margin-left: 55%;
}
.telefone {
display: block;
margin-bottom: 8px;
}
.telefoneCompleto {
width: 155%;
padding: 8px;
margin-bottom: 12px;
box-sizing: border-box;
}

/*--------EMERGÊNCIA--------*/

.emergencia{
font-size: 13px;
margin-top: 8%;
word-spacing: 1px;
}

.nomeEmerContainer{
padding: 1px;
margin-top: 10%;
margin-left: -23%;
}
.nomeEmer {
  display: block;
  margin-bottom: 8px;
}
.emerCompleto {
  width: 120%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/*--------CELULAR/TELEFONE--------*/
.celuTeleContainer{
  padding: 1px;
  margin-top: 0%;
  margin-left: -23%;
}
.CelularTelefone {
  display: block;
  margin-bottom: 8px;
}
.celularTelefoneCompleto {
  width: 60%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

/*--------LOCATÓRIO--------*/

.locatorioAviso{
font-size: 13px;
margin-top: 8%;
word-spacing: 1px;
}

.LocatorioContainer{
padding: 1px;
margin-top: 10%;
margin-left: -23%;
}
.PropeNome {
  display: block;
  margin-bottom: 8px;
}
.FonePrope {
  width: 120%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}


/*-------------------------MORADORES---------------------------*/
/*MORADOR NOME*/
.moradorContainer{
  padding: 1px;
  margin-top: 10%;
  margin-left: -23%;
  }
  .moradorNome {
    display: block;
    margin-bottom: 8px;
  }
  .moradorCompleto {
    width: 120%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
/*MORADOR RG*/
  .RGmoradorContainer{
    padding: 1px;
    margin-top: 0%;
    margin-left: -23%;
  }
  .RGmorador {
    display: block;
    margin-bottom: 8px;
  }
  .RGmoradorCompleto {
    width: 56%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
/*MORADOR GRAU DE PARENTESCO*/
  .graucontainer{   
    padding: 1px;
    margin-top: -25%;
    margin-left: 55%;
  }
  .grau {
    white-space: nowrap;
    display: block;
    margin-bottom: 8px;
  }
  .grauCompleto {
    width: 155%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

/*-------------------------funcionarios---------------------------*/
/*funcionario NOME*/
.funcionarioContainer{
  padding: 1px;
  margin-top: 10%;
  margin-left: -23%;
  }
  .funcionarioNome {
    display: block;
    margin-bottom: 8px;
  }
  .funcionarioCompleto {
    width: 120%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
/*funcionario RG*/
  .RGfuncionarioContainer{
    padding: 1px;
    margin-top: 0%;
    margin-left: -23%;
  }
  .RGfuncionario {
    display: block;
    margin-bottom: 8px;
  }
  .RGfuncionarioCompleto {
    width: 56%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
/*funcionario cargo*/
  .cargocontainer{   
    padding: 1px;
    margin-top: -25%;
    margin-left: 55%;
  }
  .cargo {
    white-space: nowrap;
    display: block;
    margin-bottom: 8px;
  }
  .cargoCompleto {
    width: 155%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }










button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.rodape {
  padding: 30px;
  margin-top: 10%;
}
